* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  margin: auto;
  overflow: scroll;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

h1,
h2,
h3,
p,
ul {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

html,
body {
  background-image: url(skyline.jpg);
  background-size: cover;
  color: black;
}

footer {
  background-color: #fbebff;
  width: 100%;
  height: 5rem;
  margin-top: auto;
}

.footer-text {
  margin-left: 0.5rem;
  vertical-align: bottom;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  left: 0;
  height: 4rem;
  justify-content: space-between;
  display: flex;
  background-color: #fbebff;
  align-items: center;
  color: black;
}

.logo {
  margin-left: 3rem;
  position: sticky;
}

.nav-links li {
  margin-right: 3rem;
  list-style: none;
  display: inline-block;
  justify-content: space-evenly;
  background-color: white;
  border: 10px solid white;
  border-radius: 100px;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: solid;
  color: #6c74e4;
}

.page-title {
  margin: 3rem 3rem;
  text-align: center;
  background-color: white;
  opacity: 0.85;
  box-shadow: 10px 10px 10px black;
  box-sizing: 50%;
  border: 4px solid black;
}

.about {
  margin-top: 2rem;
}

.about-text {
  display: grid;
  margin: 2rem 3rem;
  text-align: left;
  background-color: white;
  opacity: 0.85;
  box-shadow: 10px 10px 10px black;
  box-sizing: content-box;
  padding: 1rem;
  border: 4px solid black;
  line-height: 23px;
}

.about-image {
  display: grid;
  place-items: center;
}

.project-name:hover {
  color: #6c74e4;
}

.project-description {
  font-weight: lighter;
  text-align: left;
}

.project-image {
  display: block;
  margin: 1rem auto;
  width: 30%;
}

.project-details {
  display: block;
  position: relative;
  margin: 1rem 3rem;
  background-color: white;
  width: auto;
  opacity: 0.85;
  box-shadow: 10px 10px 10px black;
  padding: 0.5rem;
  border: 4px solid black;
  line-height: 23px;
}

#project-more {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}

.download-res {
  position: relative;
  top: 25px;
  left: 50%;
  width: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: -2rem;
  background-color: white;
  border: 10px solid white;
  border-radius: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.resume {
  margin: 1rem 3rem;
  height: calc(100% -155px);
  background-color: white;
  opacity: 0.85;
  box-shadow: 10px 10px 10px black;
  box-sizing: content-box;
  padding: 0.5rem;
  border: 4px solid black;
}

.resume li {
  margin-left: 1rem;
}

#contact-form {
  display: block;
  margin: 0 3rem;
  background-color: white;
  opacity: 0.85;
  box-shadow: 10px 10px 10px black;
  box-sizing: content-box;
  padding: 0.5rem;
  border: 4px solid black;
}

input,
label {
  display: block;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

#name,
#email {
  height: 20px;
}

#message {
  display: block;
  position: relative;
  margin: 0 auto;
}

label {
  font-weight: bold;
  text-align: center;
}

img {
  border-radius: 50%;
  transition: 750ms;
  border: 4px solid black;
  box-shadow: 10px 10px 10px black;
}

img:hover,
img:focus {
  width: 30%;
}
